apiVersion: v1
kind: Secret
metadata:
  name: vcloud-basic-auth
  namespace: kube-system
data:
  username: {{ vcloud_user | b64encode }}
  password: {{ vcloud_password | b64encode }}
  refreshToken: ""
